@model IEnumerable<ABCostmeticClient.Models.Order>
@{
    ViewBag.Title = "_employeeOrders";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Employee Order</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Order Id</th>
                            <th>Order Code</th>
                            <th>Customer</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td>No data availble!</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr data-toggle="collapse" data-target="#@item.Id" class="accordion-toggle">
                                    <td>
                                        <button class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </button>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.OrderCode</td>
                                    <td>@item.Customer1.FullName</td>
                                    <td>@item.OrderDate.ToShortDateString()</td>
                                </tr>
                                if (item.OrderDetails == null || item.OrderDetails.Count == 0)
                                {
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                        <div class="accordian-body collapse" id="@item.Id">
                                            <b>  No Data</b>
                                        </div>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="@item.Id">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var detail in item.OrderDetails)
                                                        {
                                                            <tr>
                                                                <td>@detail.Product.Name</td>
                                                                <td>@detail.Product.Price.ToString("C")</td>
                                                                <td>@detail.Quantity</td>
                                                            </tr>
                                                        }

                                                        @if (item.OrderDetails != null && item.OrderDetails.Count > 0)
                                                        {
                                                            <tr>
                                                                <td colspan="3">
                                                                    <b>TOTAL</b> <span style="font-size: 1em" class="label label-success">@item.OrderDetails.Sum(x => x.Quantity * x.Product.Price).ToString("C")</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>
